// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

params.outdir="./.default_output"
params.pipeline_info = "${params.outdir}/pipeline_info"

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

trace {
  enabled = true
  file = "${params.pipeline_info}/execution_trace_${trace_timestamp}.txt"
  overwrite = true
  fields =  "task_id,\
  hash,\
  process,\
  tag,\
  status,\
  exit,\
  start,\
  peak_rss,\
  cpus,\
  time,\
  disk,\
  memory,\
  duration,\
  realtime,\
  queue,\
  %cpu,\
  %mem,\
  rss,\
  vmem,\
  rchar,\
  wchar"

}

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "$params.pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "$params.pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "$params.pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "$params.pipeline_info/pipeline_dag_${trace_timestamp}.html"
}


manifest {
  name = 'ayoraind/bacass_local'
  author = 'Ayorinde Afolayan'
  homePage = 'https://github.com/ayoraind'
  description = 'Pipeline for genome assembly of both short and long reads'
  mainScript = 'main.nf'
  version = '1.0dev'
}
